body {
  max-width: 80%;
  text-align: center;
  font-family: sans-serif;
  font-family: "Courier New", Courier, monospace;
  color: #33ff00;
  background-color: black;
}

button {
  border: 2px solid #33ff00;
  border-radius: 8px;
  background: none;
  color: #33ff00;
  padding: 5px 10px 5px 10px;
}

button:hover {
  background-color: rgba(136, 255, 147, 0.3);
  cursor: pointer;
}

button:active {
  border-color: rgba(136, 255, 147, 0.3);
  color: rgba(136, 255, 147, 0.3);
}

#gambling {
  border: 1px solid #33ff00;
  border-radius: 8px;
  width: 500px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

#gamblingHeader h4 {
  display: inline-block;
  margin-left: 67px;
}
#wallet {
  float: right;
  margin-right: 20px;
  font-weight: bold;
}

input:hover {
  cursor: pointer;
}
